<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CROM.GestionParqueo.DataAccess.Properties.Settings.BD_CROMGestionComercialConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROMGestionComercial;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionParqueo.DataAccess.Properties.Settings.BD_GestComerCROMv2aConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2a;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionParqueo.DataAccess.Properties.Settings.BD_CROMGestionParqueoConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROMGestionParqueo;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionParqueo.DataAccess.Properties.Settings.BD_CROMGestionParqueoConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROMGestionParqueo;User ID=SA" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
