<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BD_CROM_Sistemas;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMSistemaConnectionString" connectionString="Data Source=CROM-001\SQLEXPRESS;Initial Catalog=BD_CROMSistema;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMSistemaConnectionString1" connectionString="Data Source=XNTWS27\SQL2008XNTWS27;Initial Catalog=BD_CROMSistema;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2ConnectionString" connectionString="Data Source=CROM-001\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_Sistema_V2aConnectionString" connectionString="Data Source=CROM-001\SQLEXPRESS;Initial Catalog=BD_Sistema_V2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_Sistema_V2aConnectionString1" connectionString="Data Source=CROM-001\SQLEXPRESS;Initial Catalog=BD_Sistema_V2a;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_Sistema_V2aConnectionString2" connectionString="Data Source=.\sqlexpress;Initial Catalog=BD_Sistema_V2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_Sistema_V2aConnectionString3" connectionString="Data Source=(local);Initial Catalog=BD_Sistema_V2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_Sistema_V2aConnectionString4" connectionString="Data Source=CROM-ANGELA\SQLEXPRESS;Initial Catalog=BD_Sistema_V2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2ConnectionString" connectionString="Data Source=CROM-ANGELA\MSSQLSERVER2008;Initial Catalog=BD_GestComerCROMv2;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2ConnectionString1" connectionString="Data Source=(local);Initial Catalog=BD_GestComerCROMv2;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2PruebasConnectionString" connectionString="Data Source=(local);Initial Catalog=BD_GestComerCROMv2Pruebas;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2PruebasConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2Pruebas;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2PruebaszConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2Pruebasz;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2cromConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2crom;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2omConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2om;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2ConnectionString2" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2omConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2om;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2aConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMGestionComercialConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROMGestionComercial;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMGestionParqueoConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROMGestionParqueo;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMGestionParqueoConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROMGestionParqueo;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestComerCROMv2bConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2b;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMGestionComerciaConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROMGestionComercia;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMComercialConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROMComercial;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMComercialConnectionString1" connectionString="Data Source=localhost;Initial Catalog=BD_CROMComercial;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2ConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2yasanConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROM_SistemasV2yasan;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2yasanConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2yasan;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2yasanConnectionString2" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2yasan;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2mechatroConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2mechatro;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2mechatroConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2mechatro;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2oxinetConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROM_SistemasV2oxinet;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2mechatroConnectionString2" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROM_SistemasV2mechatro;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2cromConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2crom;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2cromConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2crom;User ID=SA;Password=pass@word1" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROM_SistemasV2yasanConnectionString3" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROM_SistemasV2yasan;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMComercial_DEVConnectionString" connectionString="Data Source=ANGELA-CROM\SQL08r2crom;Initial Catalog=BD_CROMComercial_DEV;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestionComercial_ElYasanConnectionString" connectionString="Data Source=ANGELA-CROM\SQL08R2CROM;Initial Catalog=BD_GestionComercial_ElYasan;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GestionComercial_ElYasanConnectionString1" connectionString="Data Source=ANGELA-CROM\SQL08R2CROM;Initial Catalog=BD_GestionComercial_ElYasan;User ID=sa;Password=uscrom77" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronicsConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronicsConnectionString1" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronicsConnectionString2" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics;Persist Security Info=True;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMagesetConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMageset;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronics121212ConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics121212;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronics130220bConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics130220b;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronics130220bConnectionString1" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics130220b;User ID=SA;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMComercialBConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_CROMComercialB;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_CROMComercialCConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_CROMComercialC;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronicsCConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronicsC;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMaestranzaUltConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMaestranzaUlt;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMaestranzaConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMaestranza;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMaestranzaConnectionString1" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMaestranza;User ID=SA;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronicConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronic;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialElYasanConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialElYasan;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialElYasanConnectionString1" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialElYasan;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronicsConnectionString3" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronics131127ConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics131127;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronics131127ConnectionString1" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialMechatronics131127;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronicsConnectionString4" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_ComercialMechatronics;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMechatronicsConnectionString5" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_ComercialMechatronics;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_MagesetNewConnectionString" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_MagesetNew;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_MagesetNewConnectionString1" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_MagesetNew;User ID=SA;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_ComercialMaestranza150822ConnectionString" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_ComercialMaestranza150822;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GyCConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=BD_GyC;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_YasanConnectionString" connectionString="Data Source=LAPTOP-P542EDPJ\SQLEXPRESS2014;Initial Catalog=BD_GC_Yasan;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_ELYASANConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=BD_GC_ELYASAN;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_YasanConnectionString1" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_Yasan;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_YasanConnectionString2" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_Yasan;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESETConnectionString" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_MAGESET;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESETConnectionString1" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESETConnectionString2" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET;User ID=sa;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESET_20180802ConnectionString" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_MAGESET_20180802;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESETConnectionString3" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET;User ID=sa;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESETConnectionString4" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET;Persist Security Info=True;User ID=sa;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESETConnectionString5" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET;Persist Security Info=True;User ID=sa;Password=uscrom77;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESET_FEConnectionString" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_MAGESET_FE;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESET_FEConnectionString1" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET_FE;Persist Security Info=True;User ID=sa;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESET_SFS_20201106ConnectionString" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET_SFS_20201106;Persist Security Info=True;User ID=sa;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESET_SFS_20201106ConnectionString1" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET_SFS_20201106;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.GestionComercial.DataAccess.Properties.Settings.BD_GC_MAGESET_SFS_20201106ConnectionString2" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET_SFS_20201106;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
