<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CROM.GestionAlmacen.DataAccess.Properties.Settings.BD_GyCConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=BD_GyC;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionAlmacen.DataAccess.Properties.Settings.BD_GC_YasanConnectionString" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_Yasan;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionAlmacen.DataAccess.Properties.Settings.BD_GC_ELYASANConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=BD_GC_ELYASAN;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionAlmacen.DataAccess.Properties.Settings.BD_GC_YasanConnectionString1" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_Yasan;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionAlmacen.DataAccess.Properties.Settings.BD_GC_MAGESETConnectionString" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_MAGESET;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionAlmacen.DataAccess.Properties.Settings.BD_GC_MAGESET_20180802ConnectionString" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_MAGESET_20180802;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionAlmacen.DataAccess.Properties.Settings.BD_GC_MAGESETConnectionString1" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET;Persist Security Info=True;User ID=sa;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
        <add name="CROM.GestionAlmacen.DataAccess.Properties.Settings.BD_GC_MAGESET_SFS_20201106ConnectionString" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET_SFS_20201106;Persist Security Info=True;User ID=sa;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
