<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROM_SistemasConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BD_CROM_Sistemas;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROMSistemaConnectionString" connectionString="Data Source=CROM-001\SQLEXPRESS;Initial Catalog=BD_CROMSistema;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROM_SistemasConnectionString1" connectionString="Data Source=XNTWS27\SQL2008XNTWS27;Initial Catalog=BD_CROM_Sistemas;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROMSistemaConnectionString1" connectionString="Data Source=XNTWS27\SQL2008XNTWS27;Initial Catalog=BD_CROMSistema;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_Sistema_V2aConnectionString" connectionString="Data Source=CROM-001\SQLEXPRESS;Initial Catalog=BD_Sistema_V2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_Sistema_V2aConnectionString1" connectionString="Data Source=CROM-001\SQLEXPRESS;Initial Catalog=BD_Sistema_V2a;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_Sistema_V2aConnectionString2" connectionString="Data Source=(local);Initial Catalog=BD_Sistema_V2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_Sistema_V2aConnectionString3" connectionString="Data Source=.\sqlexpress;Initial Catalog=BD_Sistema_V2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BDOxinetAsistenciaConnectionString" connectionString="Data Source=XNTSRV09\SQLSRV2008DEV;Initial Catalog=BDOxinetAsistencia;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GestComerCROMv2PruebasConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2Pruebas;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GestComerCROMv2cromConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2crom;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GestComerCROMv2omConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2om;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GestComerCROMv2ConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROMGestionComercialConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROMGestionComercial;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GestComerCROMv2aConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_GestComerCROMv2a;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROMGestionParqueoConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROMGestionParqueo;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROM_SistemasV2cromConnectionString" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2crom;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROM_SistemasV2cromConnectionString1" connectionString="Data Source=W2K3-SRV1\SQLEXPRESS;Initial Catalog=BD_CROM_SistemasV2crom;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROM_SistemasV2yasanConnectionString" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROM_SistemasV2yasan;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_CROM_SistemasV2yasanConnectionString1" connectionString="Data Source=XNTWS27;Initial Catalog=BD_CROM_SistemasV2yasan;User ID=sa;Password=usoxinet" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_ComercialElYasanConnectionString" connectionString="Data Source=ANGELA-PC\SQLPRODUCCION;Initial Catalog=BD_ComercialElYasan;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_ComercialMechatronicsConnectionString" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_ComercialMechatronics;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_ComercialMechatronicsConnectionString1" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_ComercialMechatronics;User ID=sa;Password=uscrom" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_ComercialMechatronicsAntConnectionString" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_ComercialMechatronicsAnt;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_MaestranzaConnectionString" connectionString="Data Source=MUAKS-PC\CROMSYSTEM;Initial Catalog=BD_Maestranza;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GC_YasanConnectionString" connectionString="Data Source=LAPTOP-P542EDPJ\SQLEXPRESS2014;Initial Catalog=BD_GC_Yasan;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GC_YasanConnectionString1" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_Yasan;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GC_MAGESETConnectionString" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_MAGESET;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GC_MAGESETConnectionString1" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_MAGESET;Persist Security Info=True;User ID=sa;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="CROM.TablasMaestras.DataAcces.Properties.Settings.BD_GC_MAGESET_20180802ConnectionString" connectionString="Data Source=LAPTOP-HOME\SQLEXPRESS2014;Initial Catalog=BD_GC_MAGESET_20180802;User ID=sa" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
